<br>
<form (ngSubmit)="submit()">
  <div class="container-fluid">
    <label>
      <strong>ADMIN CERTIFILED LETTER</strong>
    </label>
    <br>
    <label>
      <button type="button" class="btn btn-light" type="submit">Change Status</button>
      <button type="button" class="btn btn-light" (click)="CreateLetter()">Create Letter</button>
      <button type="button" class="btn btn-light" (click)="OpenExcel()">Open Excel</button>
      <button type="button" class="btn btn-light" (click)="sendNotification()">Send Notification</button>
    </label>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th class="text-center">
                <label> select </label>
                <input type="checkbox" [(ngModel)]="selected" (change)="selectAll($event)" [ngModelOptions]="{standalone: true}" />
              </th>
              <th>TicketID</th>
              <th>Request Date</th>
              <th>Approved Date</th>
              <th>Employee ID</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Document Request</th>
              <th>Number of Copy</th>
              <th> Status </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let UserRequest of UserRequest | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>
                <div class="form-check">
                  <input type="checkbox" [(ngModel)]="UserRequest.selected" (change)="checkIfAllSelected($event)" [ngModelOptions]="{standalone: true}">
                </div>
              </td>
              <td>{{ UserRequest.ticketID }}
              </td>
              <td> {{ UserRequest.createdAt }}
              </td>
              <td>{{ UserRequest.modifiedAt }}
              </td>
              <td>{{ UserRequest.owner.employeeID }}
              </td>
              <td>{{ UserRequest.owner.firstName }}
              </td>
              <td>{{ UserRequest.owner.lastName }}
              </td>
              <td> {{ UserRequest.typeCertifyLetter }}
              </td>
              <td>{{ UserRequest.owner.numberOfCopy }}
              </td>
              <td>
                <span *ngIf="UserRequest.status == 0" class="badge badge-primary">New</span>
                <span *ngIf="UserRequest.status == 1" class="badge badge-danger">User cancel</span>
                <span *ngIf="UserRequest.status == 2" class="badge badge-danger">Admin cancel</span>
                <span *ngIf="UserRequest.status == 3" class="badge badge-success">Admin approved</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</form>
