<br>
<div class="container-fluid">
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Please Select Certifield Letter choice
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" routerLink="employeeadmin"> Certifield Letter</a>
      <a class="dropdown-item" routerLink="loanAdmin"> Loan</a>
      <!-- <a class="dropdown-item">Certify Letter for further Education</a>
    <a class="dropdown-item">Certify Letter for Tourist Visa Application</a>
    <a class="dropdown-item">Certify Letter for Business Visa Application</a> -->
    </div>
  </div>
</div>
<br>
<router-outlet></router-outlet>
